# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.DS_Store
.idea/
Lab*/*.dSYM/
Lab3/problem/refout/LOG.txt
Lab3/problem/myout/*
Lab3/problem/temp
Lab4/tests/myoutput
Lab4/tests/LOG.txt

